@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import './../node_modules/bootstrap/scss/bootstrap-grid.scss';
@import './../node_modules/bootstrap/scss/grid.scss';

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  outline: none;

  &:hover,
  &:focus {
    outline: none;
    text-decoration: none;
  }
}
